@{
    ViewBag.Title = "AssetGroupList";
}

<p>@Html.ActionLink("New Asset Groups", "New", "AssetGroups", null, new { @class = "btn btn-primary" })</p>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 ">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">Branch List</h3>
            </div>
            <div class="box-body">
                <table id="assetGroupTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Short Name</th>
                            <th>Group Code</th>
                            <th>Asset Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody></tbody>

                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/FormScript/assetGroup.js"></script>
}

