@model IEnumerable<Asset.Models.Library.EntityModels.OrganizationModels.Designation>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Organizations</h2>

<p>@Html.ActionLink("New Department", "New", "Designations", null, new { @class = "btn btn-primary" })</p>

<table id="designationTable" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Short Name</th>
        <th>Department Name</th>
        <th>Action</th>
    </tr>
    </thead>


    <tbody></tbody>

</table>

@section scripts
{
    <script src="~/Scripts/FormScript/designation.js"></script>
}