.nav-pull-rignt {
    float: right !important;
}


.noPadingLeft {
    padding-left: 0px !important;
}

.field-validation-error,
label.error {
    color: red;
}

.input-validation-error,
input.error {
    border: 2px solid red;
}