
@{
    ViewBag.Title = "Asset Group";
    ViewBag.ManuHead = "Asset Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asset Groups</h2>

<p>@Html.ActionLink("New Asset Groups", "New", "AssetGroups", null, new { @class = "btn btn-primary" })</p>

<table id="assetGroupTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Short Name</th>
            <th>Group Code</th>
            <th>Asset Type</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody></tbody>

</table>

@section scripts
{
    <script src="~/Scripts/FormScript/assetGroup.js"></script>

}